ValidaLco.Negocios/Connected Services/Cliente/ValidaLco.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.profact.com.mx/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.profact.com.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de consulta de Rfc y Lco.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.profact.com.mx/">
      <s:element name="ConsultaRfc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioIntegrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfcConsulta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaRfcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaRfcResult" type="tns:ResultadoConsultaRfc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoConsultaRfc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Correcto" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rfc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegistradoEnElSat" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EsRfcGenericoExtranjero" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EsRfcGenericoNacional" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AdheridoAlSistemaNacionalDeCoordinacionFiscal" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaRfcSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaRfc" />
  </wsdl:message>
  <wsdl:message name="ConsultaRfcSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaRfcResponse" />
  </wsdl:message>
  <wsdl:portType name="Valida_x0020_LCOSoap">
    <wsdl:operation name="ConsultaRfc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta de Rfcs del listado de nómina de la LCO.</wsdl:documentation>
      <wsdl:input message="tns:ConsultaRfcSoapIn" />
      <wsdl:output message="tns:ConsultaRfcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Valida_x0020_LCOSoap" type="tns:Valida_x0020_LCOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaRfc">
      <soap:operation soapAction="http://www.profact.com.mx/ConsultaRfc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Valida_x0020_LCOSoap12" type="tns:Valida_x0020_LCOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaRfc">
      <soap12:operation soapAction="http://www.profact.com.mx/ConsultaRfc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Valida_x0020_LCO">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio de consulta de Rfc y Lco.</wsdl:documentation>
    <wsdl:port name="Valida_x0020_LCOSoap" binding="tns:Valida_x0020_LCOSoap">
      <soap:address location="https://cfdi33-pruebas.buzoncfdi.mx:1443/ValidaLco.asmx" />
    </wsdl:port>
    <wsdl:port name="Valida_x0020_LCOSoap12" binding="tns:Valida_x0020_LCOSoap12">
      <soap12:address location="https://cfdi33-pruebas.buzoncfdi.mx:1443/ValidaLco.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>